<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head ('About ' + ${user.getUsername()})}">
</head>
<body>
    <nav th:replace="partials :: navbar"></nav>
    <br>
    <div class="container">
        <h1 th:text="'About ' + ${user.username}"></h1>
        <br>
        <div class="w-50 m-auto">
            <h4 class="text-center bg-opacity-75 text-warning bg-dark fw-bold border-warning" th:text="${user.aboutMe}"></h4>
        </div>
        <div class="w-50 text-wrap m-auto">
            <h2 class="text-center bg-opacity-75 text-warning bg-dark fw-bold border-warning" th:text="'Contact me at: ' + ${user.getEmail()}"></h2>
        </div>
        <br>
        <h1 th:text="${user.username} + ' has ' + ${user.getJoinedSessions().size()} + ' active Sessions'"></h1>
        <br>
        <div class="container w-75">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div th:each="gameSessions : ${userJoinedList}">
                    <div class="col">
                        <div class="card h-100 bg-opacity-75 text-white bg-dark fw-bold border-success text-center">
                            <div class="card-header bg-success">
                                <a class="linkcolor text-decoration-none" th:href="@{/gamesessions/{id} (id = ${gameSessions.getId()})}">
                                <h3 th:text="${gameSessions.getGameSessionTitle()}" class="title card-title"></h3></a>
                            </div>
                            <div class="card-body">
                                <h5 th:text="'Game: ' + ${gameSessions.getGameSessionName()}" class="card-title"></h5>
                                <p th:text="${gameSessions.getUsers().size()} + '/' + ${gameSessions.getPlayerLimit()} + ' Players'" class="card-text"></p>
                                <p th:if="${gameSessions.playerLimit} == ${gameSessions.getUsers().size()}" class="card-text">Game Session is full.</p>
                                <p th:text="${gameSessions.getGameSessionDescription()}" class="card-text"></p>
                                <a class="card-text linkcolor text-decoration-none" th:href="@{/aboutuser/{id} (id = ${gameSessions.getGameSessionHost().getId()})}">
                                    <p th:text="'Game Session Host: ' + ${gameSessions.getGameSessionHost().getUsername()}" class="card-text"></p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

<div th:insert="partials :: boot-scripts"></div>
<script th:src="@{/js/api_keys.js}"></script>
<script th:src="@{/js/bga.js}"></script>
</body>
</html>