<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials :: head ('Players Index')}">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1 class="pb-3" id="indexHeader">Players List</h1>
<div class="container w-75">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="user : ${userList}">
            <div class="col">
                <div class="card h-100 bg-opacity-75 text-white bg-dark fw-bold border-success">
                    <div class="card-header bg-success">
                        <a class="text-white text-center" th:href="@{/aboutuser/{id} (id = ${user.id})}"><h5
                                th:text="'Username: ' + ${user.username}"></h5></a>
                    </div>
                    <p class="card-text text-center"
                       th:text="'Total Active Sessions: ' + ${user.getJoinedSessions().size()}"></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 th:if="${userList.size() == 0} and ${query.length()} == 0" th:text="'Sorry, we could not find any players...'"></h1>
<h1 th:if="${userList.size()} == 0 and ${query.length()} > 0"
    th:text="'Sorry, we could not find any players that matched with ' + ${query}"></h1>
<div th:insert="partials :: boot-scripts"></div>
</body>

</html>