<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Players Index</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1 id="indexHeader">Players List</h1>
<div th:each="user : ${userList}">
    <a th:href="@{/aboutuser/{id} (id = ${user.id})}">
        <span th:text="'Username: ' + ${user.username}">
        </span>

    </a>
    <p th:text="'Total Active Sessions: ' + ${user.getJoinedSessions().size()}"></p>

    <br>
</div>
<h1 th:if="${userList.size() == 0} and ${query.length()} == 0" th:text="'Sorry, we could not find any players...'"></h1>
<h1 th:if="${userList.size()} == 0 and ${query.length()} > 0" th:text="'Sorry, we could not find any players that matched with ' + ${query}"></h1>
<div th:insert="partials :: boot-scripts"></div>
</body>

</html>