<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<h1 th:text="|Howdy, ${#authentication.principal.username}!|"></h1>

	<div class="tabs">
		<div class="container mt-5">

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#account" id="acc-tab">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#about-me" id="about-tab">About Me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#my-sessions" id="session-tab">My Sessions</a>
				</li>
				<!--this is a wishlist item that may or may not be implemented-->
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#buds" id="buds-tab">Buds</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/settings/}">Settings</a>
				</li>
			</ul>

			<div class="tab-content">
				<div aria-labelledby="acc-tab" class="tab-pane" id="account" role="tabpanel">
					<h2>Account</h2>
					<p th:text="|Username: ${#authentication.principal.username}"></p>
					<p th:text="|Email: ${#authentication.principal.email}"></p>
					<!--add placeholder for empty stuff-->
					<p th:text="|Primary Game: ${#authentication.principal.primary_game}"></p>
					<p th:text="|IRL Name: ${user.getIrl_name()}"></p>
				</div>
				<div aria-labelledby="about-tab" class="tab-pane" id="about-me" role="tabpanel">
					<h2>About Me</h2>
<!--					<p th:text="|Bio: ${user.getBio}|"></p>-->
				</div>
				<div aria-labelledby="session-tab" class="tab-pane" id="my-sessions" role="tabpanel">
					<h2>My Sessions</h2>
					<!--iterates through sessions in which the user is the host-->
					<div th:each="gameSessions : ${gameSessionsList}">
						<div th:if="${user.getGameSessions().size() > 0}">
							<div class="card">
								<div class="card-body">
									Game: <span th:text="${gameSessions.gameSessionName}"></span>
									<br>
									Session Title: <span th:text="${gameSessions.gameSessionTitle}"></span>
									<br>
									<!--need to figure out how to do x/y
									with x = players joined and y = player limit-->
									Player Limit: <span th:text="${gameSessions.playerLimit}"></span>
									<br>
									Description: <span th:text="${gameSessions.gameSessionDescription}"></span>
								</div>
							</div>
						</div>
					</div>
					<!--if the user has no sessions in which they are the host, this pops up-->
					<div th:if="${user.getGameSessions().size() == 0}">
						<p>You have no sessions!</p>
					</div>
				</div>
				<!--this is a wishlist item that may or may not be completed eventually-->
				<div aria-labelledby="buds-tab" class="tab-pane" id="buds" role="tabpanel">
					<h2>Buds</h2>
					<p>This is the Buds tab.</p>
				</div>
			</div>
		</div>
	</div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>