<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<h1 th:text="|Howdy, ${#authentication.principal.username}!|"></h1>

	<div class="tabs">
		<div class="container mt-5">

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#security" id="sec-tab">Security</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#about-me" id="about-tab">About Me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#my-sessions" id="session-tab">My Sessions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#buds" id="buds-tab">Buds</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/settings/}">Settings</a>
				</li>
			</ul>

			<div class="tab-content">
				<div aria-labelledby="sec-tab" class="tab-pane" id="security" role="tabpanel">
					<h2>Security</h2>
					<p th:text="|Username: ${#authentication.principal.username}"></p>
					<p th:text="|Email: ${#authentication.principal.email}"></p>
					<!--add placeholder for empty stuff-->
<!--					<p th:text="|Primary Game: ${#authentication.principal.primary_game}"></p>-->
<!--					<p th:text="|IRL Name: ${#authentication.principal.irl_name}"></p>-->
				</div>
				<div aria-labelledby="about-tab" class="tab-pane" id="about-me" role="tabpanel">
					<h2>About Me</h2>
					<p>This is the About Me tab.</p>
				</div>
				<div aria-labelledby="session-tab" class="tab-pane" id="my-sessions" role="tabpanel">
					<h2>My Sessions</h2>
					<p>This is the My Sessions tab.</p>
				</div>
				<div aria-labelledby="buds-tab" class="tab-pane" id="buds" role="tabpanel">
					<h2>Buds</h2>
					<p>This is the Buds tab.</p>
				</div>
			</div>

		</div>
	</div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>