<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ">
</head>

<body class="main-container main-bg">

<nav th:replace="partials :: navbar"></nav>
<br>
<div class="container">
	<h1>Register</h1>
	<form class="row g-3" th:action="@{/register}" th:method="POST" th:object="${user}">
		<div class="col-md-12">
			<label class="form-label" for="username">Username</label>
			<div class="input-group has-validation">
				<input class="form-control" id="username" required="required" th:field="*{username}" type="text">
			</div>
		</div>

		<div class="col-md-12">
			<label class="form-label" for="email">Email</label>
			<div class="input-group has-validation">
				<input class="form-control" id="email" required="required" th:field="*{email}" type="text">
			</div>
		</div>

		<div class="col-md-12">
			<label class="form-label" for="password">Password</label>
			<input class="form-control" id="password" required="required" th:field="*{password}" type="password">
		</div>

		<div class="col-md-12">
			<label class="form-label" for="primary-game">Primary Played Game</label>
			<input class="form-control" id="primary-game" required="required" th:field="*{primary_game}" type="text">
		</div>

		<div class="col-12">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>

<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:replace="partials :: head ">-->
<!--</head>-->
<!--<body class="main-container main-bg">-->
<!--<nav th:replace="partials :: navbar"></nav>-->
<!--<main class="container">-->
<!--  <h1>Create an account</h1>-->
<!--  <form th:action="@{/register}" th:method="POST" th:object="${user}">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" th:field="*{username}" />-->

<!--    <label for="email">Email</label>-->
<!--    <input id="email" th:field="*{email}" />-->

<!--    <label for="password">Password</label>-->
<!--    <input id="password" type="password" th:field="*{password}" />-->

<!--    <input value="Sign me up!" type="submit" />-->
<!--  </form>-->
<!--</main>-->
<!--<footer th:replace="partials :: footer"></footer>-->
<!--<div th:replace="partials :: boot-scripts"></div>-->
<!--</body>-->
<!--</html>-->