<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>Edit Profile</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>Update Account Information</h1>
<form th:action="@{/update}" th:method="post" th:object="${user}">
	<p>Email: <span th:text="${user.email}" id="email"></span>
		<button type="button" onclick="editField('email')">Edit</button></p>
	<input type="email" name="email" id="emailField" style="display: none;"/>

	<p>IRL Name: <span th:text="${user.irl_name}" id="irl_name"></span>
		<button type="button" onclick="editField('irl_name')">Edit</button></p>
	<input type="text" name="irl_name" id="irlNameField" style="display: none;"/>

	<input name="id" th:field="*{id}" type="hidden">
	<input name="username" th:field="*{username}" type="hidden">
	<input name="password" th:field="*{password}" type="hidden">
	<input name="password" th:field="*{primary_game}" type="hidden">

	<input type="submit" value="Save Changes" id="submitButton" style="display: none;"/>
</form>

<script th:src="@{/js/settings.js}"></script>

<footer th:replace="partials :: footer"></footer>
<div th:insert="partials :: boot-scripts"></div>
</body>

</html>
