<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials :: head ('Update Password')}">
</head>
<body>
	<nav th:replace="partials :: navbar"></nav>
	<br>
	<div class="container">
		<h1 id="indexHeader">Update Password</h1>
		<br>
		<div class="container w-75">
			<div class="card bg-opacity-75 text-white bg-dark fw-bold border-warning">
				<div class="card-body">
					<form th:action="@{/update-pw}" th:method="post" th:object="${user}">
						<div>
							<label class="form-label text-warning" for="currentPassword">Current Password:</label>
							<input class="form-control" id="currentPassword" name="currentPassword" required type="password"/>
						</div>
						<div>
							<label class="form-label text-warning" for="newPassword">New Password:</label>
							<input class="form-control" id="newPassword" minlength="8" name="newPassword" required type="password"/>
						</div>
						<div>
							<input name="id" th:field="*{id}" type="hidden">
							<input name="id" th:field="*{email}" type="hidden">
							<input name="id" th:field="*{irl_name}" type="hidden">
							<input name="username" th:field="*{username}" type="hidden">
							<input name="password" th:field="*{password}" type="hidden">
							<input name="password" th:field="*{primary_game}" type="hidden">
						</div>
						<button class="btn btn-warning mt-2" type="submit">Update Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div th:replace="partials :: boot-scripts"></div>
</body>
</html>