body {
    background-image: url(../gameIMG/20230308_151944.remini-enhanced.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

h1 {
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    color: midnightblue;
    font-size: xxx-large;
    text-align: center;
}

h5, .title, .card-title {
    font-family: 'Luckiest Guy', cursive;
}

body {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}

.error500 {
    background-image: url(../gameIMG/Collage_2023-03-13_21_48_33.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.error403 {
    background-image: url(../gameIMG/Collage_2023-03-13_21_53_10.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.error404 {
    background-image: url(../gameIMG/Collage_2023-03-13_21_51_49.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.img-card {
    height: 462px;
    width: 348px;
}

#gameImage>img, #gameImage2>img, #gameImage3>img {
    max-width: 100%;
}

#navTitle {
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    color: midnightblue;
    text-align: center;
    padding-left: 1em;
}

.mainButton {
    font-family: 'Rampart One', cursive;
    font-weight: bolder;
    color: midnightblue;
    text-align: center;
}
.createButton {
    font-size: 1.5em;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-img-top {
    height: 510px;
    width: 389px;
}

.img-card {
    height: 37.8em;
    width: 21.75em;
}

.linkcolor {
    color: white;
}

.linkcolor:hover {
    color: lightgrey;
}

h5, h3 {
    padding-top: 8px;
}

#found>a {
    color: gold;
    text-decoration: none;
}

#found>a:hover {
    color: goldenrod;
    text-decoration: none;
}

.text-color {
    color: midnightblue;
}

.text-link-color {
    color: midnightblue;
}

.text-link-color:hover {
    color: blue;
}