.background {
    background-image: url(../gameIMG/20230308_151944.remini-enhanced.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    color: midnightblue;
    font-size: xxx-large;
    text-align: center;
}

.title {
    font-family: 'Luckiest Guy', cursive;
}

body {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}





