<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials :: head ('Homepage')}">
</head>
<body class="background">
    <nav th:replace="partials :: navbar"></nav>
    <br>
    <div class="container w-75">

        <!--    Opening Welcome and Logo-->
        <div id="indexpage" class="container d-flex align-items-center flex-column">
            <h1 class="d-flex">Welcome to</h1>
            <img th:src="@{/gameIMG/Collage_2023-03-03_16_39_26.jpg}" width="400" class="d-flex border border-dark img-fluid" alt="logo">
        </div>
        <br>

        <!--    Login or Register-->
        <div sec:authorize="!isAuthenticated()" class="card w-100 bg-opacity-75 text-white bg-dark fw-bold border-warning">
            <div class="card-body">
                <div sec:authorize="!isAuthenticated()" class="text-center">
                    <a href="/login" class="nav-link linkcolor text-decoration-none title" aria-current="page">Click here to login</a>
                    <a href="/register" class="link-warning" aria-current="page">Don't have an account? Register here!</a>
                </div>
            </div>
        </div>
        <br>

        <!--    Most recently added Game Sessions-->
        <div class="card w-100 d-flex text-wrap align-items-center flex-column card bg-opacity-75 bg-dark fw-bold border-warning mb-2">
            <div class="card-body">
                <h1 class="d-flex text-white">New additions to<br>Board Together!</h1>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div th:if="${gameSessionsList.size()} >= 1" class="col">
                        <div class="card h-100 bg-opacity-75 text-white bg-dark fw-bold border-success">
                            <input id="upc" type="hidden" th:value="*{gameSessionsList.get(0).getUPC()}">
                            <div class="bg-white" id="gameImage"></div>
                            <div class="card-body text-center">
                                <a class="title linkcolor text-decoration-none card-title" th:href="@{/gamesessions/{id} (id = ${gameSessionsList.get(0).getId()})}">
                                    <h5 th:text="${gameSessionsList.get(0).gameSessionTitle}" class="title card-title"></h5></a>
                                <p th:text="${gameSessionsList.get(0).gameSessionName}" class="card-text"><small class="text-muted"></small></p>
                                <p th:text="${gameSessionsList.get(0).gameSessionDescription}" class="card-text"></p>
                                <p th:text="${gameSessionsList.get(0).getUsers().size()} + '/' + ${gameSessionsList.get(0).playerLimit} + ' Players'" class="card-text"></p>
                            </div>
                            <div class="card-footer bg-success text-center">
                                <a class="title linkcolor text-decoration-none card-title" th:href="@{/aboutuser/{id} (id = ${gameSessionsList.get(0).getGameSessionHost().getId()})}">
                                    <small th:text="'Game Session Host: ' + ${gameSessionsList.get(0).getGameSessionHost().username}" class="card-text"></small></a>
                            </div>
                        </div>
                    </div>

                    <div th:if="${gameSessionsList.size()} >= 2" class="col">
                        <div class="card h-100 bg-opacity-75 text-white bg-dark fw-bold border-warning">
                            <input id="upc2" type="hidden" th:value="*{gameSessionsList.get(1).getUPC()}">
                            <div class="bg-white" id="gameImage2"></div>
                            <div class="card-body text-center">
                                <a class="title linkcolor text-decoration-none card-title" th:href="@{/gamesessions/{id} (id = ${gameSessionsList.get(1).getId()})}">
                                    <h5 th:text="${gameSessionsList.get(1).gameSessionTitle}" class="title card-title"></h5></a>
                                <p th:text="${gameSessionsList.get(1).gameSessionName}" class="card-text"><small class="text-muted"></small></p>
                                <p th:text="${gameSessionsList.get(1).gameSessionDescription}" class="card-text"></p>
                                <p th:text="${gameSessionsList.get(1).getUsers().size()} + '/' + ${gameSessionsList.get(1).playerLimit} + ' Players'" class="card-text"></p>
                            </div>
                            <div class="card-footer bg-warning text-center">
                                <a class="title linkcolor text-decoration-none card-title" th:href="@{/aboutuser/{id} (id = ${gameSessionsList.get(1).getGameSessionHost().getId()})}">
                                    <small th:text="'Game Session Host: ' + ${gameSessionsList.get(1).getGameSessionHost().username}" class="card-text"></small></a>
                            </div>
                        </div>
                    </div>

                    <div th:if="${gameSessionsList.size()} >= 3" class="col">
                        <div class="card h-100 bg-opacity-75 text-white bg-dark fw-bold border-info">
                            <input id="upc3" type="hidden" th:value="*{gameSessionsList.get(2).getUPC()}">
                            <div class="bg-white" id="gameImage3"></div>
                            <div class="card-body text-center">
                                <a class="title linkcolor text-decoration-none card-title" th:href="@{/gamesessions/{id} (id = ${gameSessionsList.get(2).getId()})}">
                                    <h5 th:text="${gameSessionsList.get(2).gameSessionTitle}" class="title card-title"></h5></a>
                                <p th:text="${gameSessionsList.get(2).gameSessionName}" class="card-text"><small class="text-muted"></small></p>
                                <p th:text="${gameSessionsList.get(2).gameSessionDescription}" class="card-text"></p>
                                <p th:text="${gameSessionsList.get(2).getUsers().size()} + '/' + ${gameSessionsList.get(2).playerLimit} + ' Players'" class="card-text"></p>
                            </div>
                            <div class="card-footer bg-info text-center">
                                <a class="title linkcolor text-decoration-none card-title text-decoration-none" th:href="@{/aboutuser/{id} (id = ${gameSessionsList.get(2).getGameSessionHost().getId()})}">
                                    <small th:text="'Game Session Host: ' + ${gameSessionsList.get(2).getGameSessionHost().username}" class="card-text"></small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
<div th:insert="partials :: boot-scripts"></div>
<script th:src="@{/js/api_keys.js}"></script>
<script th:src="@{/js/homepage.js}"></script>
</body>
</html>